<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base/layout}" lang="en">
<body><div layout:fragment="content" th:remove="tag">

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About Allen</title>
    </head>
    <body>
    <center>
        <div class="container">
            <div class="units" style="margin-top: 40px;">
                <div class="card" style="width: 25rem; background-color: mediumpurple;">
                    <img class="card-img-top" src="https://files.catbox.moe/iyebjq.png" alt="Card image cap">
                    <div class="card-body" src="https://files.catbox.moe/iyebjq.png" alt="Card image cap" style="color:white">
                        <h3>
                            <a href="/cb/insert" style="color:white">Unit 2 FRQ</a>
                        </h3>
                        <h3>
                            <a href="/data/scorecreate" style="color:white">Database</a>
                        </h3>
                        <h3>
                            <a href="https://docs.google.com/document/d/1jmRSbsEmWEwsjZqkAjQnIliiSyZJDKA-KC60NFxaLUU/edit?usp=sharing" style="color:white">Journal</a>
                        </h3>
                        <h3>
                            <a href="https://github.com/zenxha/m22-2-social-credit-farmers/projects/1?card_filter_query=assignee%3Apurplebears321" style="color:white">Tickets</a>
                        </h3>
                        <h3>
                            <a href="https://github.com/zenxha/m22-2-social-credit-farmers/commits?author=purplebears321" style="color:white">Commits</a>
                        </h3>
                        <h3>
                            <a href="https://github.com/purplebears321" style="color:white">Profile</a>
                        </h3>

                    </div>
                </div>
            </div>
        </div>
    </center>
    </body>
    </html>
</body>
</html>