<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>...</title>
</head>
<body onload="updateScore()">
<!-- Begin navigation fragments -->
<nav class="navbar navbar-expand-lg navbar-light"  th:fragment="header">
    <a class="navbar-brand" href="/">SCF</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/cb">CollegeBoard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blank">Blank</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Minilabs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/komay">Komay</a>
                    <a class="dropdown-item" href="/allen">Allen</a>
                    <a class="dropdown-item" href="/tanmay">Tanmay</a>
                    <a class="dropdown-item" href="/roop">Roop</a>
                    <a class="dropdown-item" href="/nicholas">Nicholas</a>
                </div>
            </li>
            <li class="nav-item">
                <a id="score" class="nav-link">Social Credit Score: 0</a>
            </li>
        </ul>
    </div>
    <script>
    console.log("yo")
    function updateScore() {
        let score = localStorage.getItem("score");
        document.getElementById("score").textContent = "Social Credit Score: "+ score.toString();
        console.log(score)
    }
    setInterval(updateScore, 1000 )

</script>
</nav>

<!-- Begin navigation fragments -->
</body>
</html>