
<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base/layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Week 1</title>
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <script th:inline="javascript">
        function renderOutput() {
            const everyone = [[${FRQlist}]]
            everyone.forEach(person => {
                document.getElementById(person.name).innerHTML = person.output
            })
        }
        function oo() {
            console.log("oo")
        }
        // document.getElementById("runbtn").addEventListener("click", renderOutput)
    </script>
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->

    <div class="container">
        <div class="jumbotron text-center">
            <div class="row">
                <div class="col-md-6">
                    <h3>FRQ Week 1</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Gist Link</th>
                                <th scope="col">Output</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="frq : ${FRQlist}">
                                <td th:text="${frq.getName()}"></td>
                                <td><a th:href="${frq.getGist()}">Open</a></td>
                                <td th:id="${frq.getName}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <button onclick="renderOutput()" id="runbtn" class="btn-grad" >Run</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <script src="https://gist.github.com/zenxha/26d0f54b6dadec2616dc7f07e35150e6.js"></script>
            </div>
        </div>
    </div>




    <!-- End of body content specific to page -->


</div></body>

</html>